    <footer class="footer mt-auto">
        <div class="bg-dark border-top pt-0 pb-0" style="">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center ">
                        &copy; <span id="copyright-year"></span> Dankest, LLC
                        All Rights Reserved<br/>
                        <a href="/terms">Terms of Use</a> |
                        <a href="/privacy">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div> 
    </footer>
