                <form action="/search" role="search" method="GET" id="mainmenu-search">
                    <div class="input-group">
                        <input type="hidden" name="coin" id="coin-search">
                        <input type="text" name="query" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="button-search">
                        <button class="btn btn-success" type="button" id="button-search"><i class="fa fa-search fa-lg"></i></button>
                    </div>
                </form>
