                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-2x fa-gear"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end mt-0">
                            <li><a class="dropdown-item" id="btn-dark-mode" href="#" title="Dark Mode" ><i class="fa fa-lg fa-moon"></i> Dark Mode</a></li>
                            <li><a class="dropdown-item" id="btn-light-mode" href="#" title="Light Mode"><i class="fa fa-lg fa-sun"></i> Light Mode</a></li>
                        </ul>
                    </li>
