            <div class="card">
                <a href="#" class="text-decoration-none text-reset collapse-header" data-bs-toggle="collapse" data-bs-target="#{ID}" aria-expanded="false" aria-controls="{ID}" id="{ID}-header">
                    <div class="card-title mb-0 p-1 fw-bold">
                        <i class="fa {ICON} asset-icon-sm"></i> {TITLE}
                        <span class="float-end"><i class="fa fa-chevron-up collapse-icon"></i></span>
                    </div>
                </a>
                <div class="row table-responsive collapse show" id="{ID}">
{BODY}
                </div>
            </div>
