{
  "openapi": "3.1.0",
  "info": {
    "title": "XChain Explorer API",
    "version": "1.0.0",
    "description": "Read-only REST API for the XChain Platform: tokens, balances, actions, markets, smart contracts, staking, attestations, and state checkpoints on Bitcoin, Litecoin, and Dogecoin.\n\nConventions: `coin` is the host chain, `tick` is a token symbol (there is no \"asset\" field). Amounts are arbitrary-precision decimal strings, and so are chain indices (`block_index`, `action_index`, `checkpoint_seq`, `snapshot_block`) on both the REST and WebSocket surfaces: they compare byte-for-byte across endpoints and stay exact above 2^53. List responses are `{total, data: [...]}` with `page`/`limit`/`sortorder` query parameters (limit max 100; balances/holders max 500). Errors are `{error: \"message\", code: \"STABLE_CODE\"}`. See the error-code registry at https://docs.xchain.io/protocol/Error_Codes.md. A WebSocket API lives at /{COIN}/api/websocket. See https://docs.xchain.io/components/explorer/WEBSOCKET.md.\n\nLLM-friendly docs: https://docs.xchain.io/llms.txt",
    "license": {
      "name": "AGPL-3.0-or-later",
      "url": "https://docs.xchain.io/legal/LICENSING.md"
    }
  },
  "servers": [
    {
      "url": "https://explorer.xchain.io"
    }
  ],
  "tags": [
    {
      "name": "Core"
    },
    {
      "name": "Tokens"
    },
    {
      "name": "Action history"
    },
    {
      "name": "Markets"
    },
    {
      "name": "Dispensers"
    },
    {
      "name": "Contracts"
    },
    {
      "name": "Staking"
    },
    {
      "name": "Prices"
    },
    {
      "name": "Attestations"
    },
    {
      "name": "Cross-chain"
    },
    {
      "name": "Files"
    },
    {
      "name": "Fees"
    },
    {
      "name": "Checkpoints"
    },
    {
      "name": "Governance"
    },
    {
      "name": "Network"
    }
  ],
  "paths": {
    "/{COIN}/api/addresses/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "addresses_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "ADDRESS actions (address registrations)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/airdrops/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "airdrops_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "AIRDROP actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/batches/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "batches_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "BATCH actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/broadcasts/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "broadcasts_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "BROADCAST actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/callbacks/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "callbacks_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "CALLBACK actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/destroys/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "destroys_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "DESTROY actions (token burns)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/dividends/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "dividends_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "DIVIDEND actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/dispensers/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "dispensers_query_type",
        "tags": [
          "Dispensers"
        ],
        "summary": "DISPENSER actions (vending machines)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; destination = destination address; token = a token tick; oracle = a dispenser's ORACLE_ADDRESS (PRICE v1 publisher)"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "destination",
                "token",
                "oracle"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/dispenser_cancels/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "dispenser_cancels_query_type",
        "tags": [
          "Dispensers"
        ],
        "summary": "Dispenser cancellations",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/dispenser_closes/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "dispenser_closes_query_type",
        "tags": [
          "Dispensers"
        ],
        "summary": "Dispenser closes",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/dispenser_expires/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "dispenser_expires_query_type",
        "tags": [
          "Dispensers"
        ],
        "summary": "Dispenser expirations",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/dispenser_edits/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "dispenser_edits_query_type",
        "tags": [
          "Dispensers"
        ],
        "summary": "Dispenser edits",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/dispenses/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "dispenses_query_type",
        "tags": [
          "Dispensers"
        ],
        "summary": "Dispenses (vending events: coin in, tokens out)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; destination = destination address; token = a token tick; dispenser = dispenser"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "destination",
                "token",
                "dispenser"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/fees/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "fees_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "Protocol fee payments",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; destination = destination address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "destination",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/files/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "files_query_type",
        "tags": [
          "Files"
        ],
        "summary": "FILE actions (on-chain files, incl. token-gated)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; token = a token tick; name = FILE discovery name (by-name lookup)"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "token",
                "name"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/issues/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "issues_query_type",
        "tags": [
          "Tokens"
        ],
        "summary": "ISSUE actions (token issuances)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/links/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "links_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "LINK actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/lists/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "lists_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "LIST actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/messages/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "messages_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "MESSAGE actions (encrypted messaging)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; destination = destination address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "destination"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/mints/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "mints_query_type",
        "tags": [
          "Tokens"
        ],
        "summary": "MINT actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; destination = destination address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "destination",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/orders/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "orders_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "ORDER actions (DEX orders)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/order_expires/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "order_expires_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "Order expirations",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/order_edits/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "order_edits_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "Order edits",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/order_cancels/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "order_cancels_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "Order cancellations",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/order_matches/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "order_matches_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "Order matches (fills), filtered",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/order_matches": {
      "get": {
        "operationId": "order_matches",
        "tags": [
          "Markets"
        ],
        "summary": "Order matches (fills)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/coinpays/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "coinpays_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "COINPAY actions (native-coin payment legs)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/coinpay_expires/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "coinpay_expires_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "COINPAY expirations",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/coinpay_obligations/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "coinpay_obligations_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "Open COINPAY obligations",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/sends/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "sends_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "SEND actions (token transfers)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; destination = destination address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "destination",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/sleeps/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "sleeps_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "SLEEP actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/swaps/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "swaps_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "SWAP actions (peer-to-peer swaps)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/swap_edits/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "swap_edits_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "Swap edits",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/swap_expires/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "swap_expires_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "Swap expirations",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/swap_cancels/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "swap_cancels_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "Swap cancellations",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/swap_matches/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "swap_matches_query_type",
        "tags": [
          "Markets"
        ],
        "summary": "Swap matches, filtered",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/swap_matches": {
      "get": {
        "operationId": "swap_matches",
        "tags": [
          "Markets"
        ],
        "summary": "Swap matches",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/sweeps/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "sweeps_query_type",
        "tags": [
          "Action history"
        ],
        "summary": "SWEEP actions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; destination = destination address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "destination"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/prices/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "prices_query_type",
        "tags": [
          "Prices"
        ],
        "summary": "PRICE oracle rows, filtered",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; token = a token tick"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "token"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/prices": {
      "get": {
        "operationId": "prices",
        "tags": [
          "Prices"
        ],
        "summary": "PRICE oracle rows (validator COIN/FIAT + user TOKEN/FIAT)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/price_snapshots/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "price_snapshots_query_type",
        "tags": [
          "Prices"
        ],
        "summary": "Federation price snapshots, filtered",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): pair = COIN/FIAT pair (e.g. BTC/USD); round = oracle round id; status = lifecycle status"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pair",
                "round",
                "status"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/price_snapshots": {
      "get": {
        "operationId": "price_snapshots",
        "tags": [
          "Prices"
        ],
        "summary": "Federation price snapshots (PBFT-finalized rounds)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/controllers": {
      "get": {
        "operationId": "controllers",
        "tags": [
          "Tokens"
        ],
        "summary": "Controller bind/unbind events (programmable-policy guards on tokens + addresses)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/contracts/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "contracts_query_type",
        "tags": [
          "Contracts"
        ],
        "summary": "Deployed contracts, filtered",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/contracts": {
      "get": {
        "operationId": "contracts",
        "tags": [
          "Contracts"
        ],
        "summary": "Deployed smart contracts",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/contract/{QUERY}": {
      "get": {
        "operationId": "contract_query",
        "tags": [
          "Contracts"
        ],
        "summary": "One contract (by action index)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): contract = contract action index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/contract/{QUERY}/state": {
      "get": {
        "operationId": "contract_query_state",
        "tags": [
          "Contracts"
        ],
        "summary": "Contract state (all keys)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): contract = contract action index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/contract/{QUERY}/state/{TYPE}": {
      "get": {
        "operationId": "contract_query_state_type",
        "tags": [
          "Contracts"
        ],
        "summary": "Contract state (one key)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): contract = contract action index"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": "contract"
            },
            "description": "How to interpret {QUERY}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/contract/{QUERY}/balance": {
      "get": {
        "operationId": "contract_query_balance",
        "tags": [
          "Contracts"
        ],
        "summary": "Contract token balances",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): contract = contract action index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/contract/{QUERY}/balance/{TYPE}": {
      "get": {
        "operationId": "contract_query_balance_type",
        "tags": [
          "Contracts"
        ],
        "summary": "Contract balance (one tick)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): contract = contract action index"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": "contract"
            },
            "description": "How to interpret {QUERY}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/executions/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "executions_query_type",
        "tags": [
          "Contracts"
        ],
        "summary": "Contract executions, filtered",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; contract = contract action index"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "contract"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/executions": {
      "get": {
        "operationId": "executions",
        "tags": [
          "Contracts"
        ],
        "summary": "Contract executions",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/execution/{QUERY}": {
      "get": {
        "operationId": "execution_query",
        "tags": [
          "Contracts"
        ],
        "summary": "One execution (by action index)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): execution = execution action index"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ObjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/deploy_chunks": {
      "get": {
        "operationId": "deploy_chunks",
        "tags": [
          "Contracts"
        ],
        "summary": "Chunked DEPLOY (v4) carriers",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/deposits/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "deposits_query_type",
        "tags": [
          "Contracts"
        ],
        "summary": "Contract deposits",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; contract = contract action index"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "contract"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/withdrawals/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "withdrawals_query_type",
        "tags": [
          "Contracts"
        ],
        "summary": "Contract withdrawals",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address; contract = contract action index"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source",
                "contract"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/stakes/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "stakes_query_type",
        "tags": [
          "Staking"
        ],
        "summary": "Capability stakes, filtered",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/stakes": {
      "get": {
        "operationId": "stakes",
        "tags": [
          "Staking"
        ],
        "summary": "Capability stakes (validator staking)",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/validators": {
      "get": {
        "operationId": "validators",
        "tags": [
          "Staking"
        ],
        "summary": "Active validators and their capabilities",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/CoinUnavailable"
          }
        }
      }
    },
    "/{COIN}/api/delegations/{QUERY}/{TYPE}": {
      "get": {
        "operationId": "delegations_query_type",
        "tags": [
          "Staking"
        ],
        "summary": "Signing-key delegations",
        "parameters": [
          {
            "$ref": "#/components/parameters/coin"
          },
          {
            "name": "QUERY",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The value to look up (interpreted per {TYPE}): block = block height; address = an XChain address; source = source address"
          },
          {
            "name": "TYPE",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "block",
                "address",
                "source"
              ]
            },
            "description": "How to interpret {QUERY}"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sortorder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListResponse"
                }
[...]
